* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("../images/sayagata-400px.png");
}

header {
    padding: 15px;
    background-color: beige;
    width: 100%;
    display: inline-block;
    z-index: 10;
}

h1 {
    float: left;
    margin: 0% 0% 0% 10%;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    clear: both;
    margin-left: 2%;
}

/*a{
    float: right;
    margin: 1% 1% 1% 1%;
    background-color: aqua;
    padding: 20px
}*/

#contact {
    float: right;
    margin: 2% 0% 1% 0%;
    padding: 10px;
    border-right: 1px solid black;
}

#portfolio {
    float: right;
    margin: 2% 0% 1% 0%;
    padding: 10px;
    border-right: 1px solid black;
}

#about {
    float: right;
    margin: 2% 0% 1% 0%;
    padding: 10px;
}

.otherdiv {
    margin: 5% 10% 5% 10%;
    width: 70%;
    background-color: beige;
    text-overflow: ellipsis;
    position: relative;
    left: 5%
}

img {
    width: 100%;
    padding: 5px;
    float: left;
}

.container {
    float: left;
    width: 20%;
    padding: 5%;
}

.textblock {
    position: relative;
    bottom: 32px;
    left: 5px;
    background-color: beige;
    padding: 10px;
    opacity: 0.7;
}

#portid {
    margin: 5% 10% 5% 10%;
    background-color: beige;
    width: 70%;
    position: relative;
    left: 5%;
    /* top: 15%; */
}

/*
.textblock{
    position: relative;
    width: 160px;
    padding: 0px 20px 0px 20px;
    bottom: 4px;
    left: 10px;
    background-color: black;
    opacity: 0.6;
    color: white;
    text-align: center;
}
#portid{
    height: fit-content;
    width: inherit;
    margin: 5% 10% 5% 10%;
    width: 70%;
    background-color: beige;
    text-overflow: ellipsis;
    position: relative;
    left: 5%;
}*/

#portid::after {
    content: "";
    clear: both;
    display: table;
}

#me {
    float: left;
    width: 30%;
    margin: 2% 2% 2% 2%;
    border: 2%;
    overflow: hidden;
}

p {
    line-height: 150%;
    margin: 5% 5% 20px 5%;
}

footer {
    text-align: center;
    width: 100%;
    background-color: beige;
    position: fixed;
    bottom: 0;
    clear: both;
}

.left {
    margin-left: 5px;
    line-height: 100%;
}

#msg {
    width: 99%;
    height: 80px;
}

.input {
    width: 99%;
}

/* this is where the jqueries will be held to make this site mobile responsive */

/* this media quary  is for a large device like a moniter and such */

@media screen and (max-width: 980px) {
    header {
        width: 980px;
    }
    #me {
        width: 50%;
    }
    .otherdiv {
        width: initial
    }
}

/* this quary is for smaller devices such as ipads */

@media screen and (max-width: 768px) {
    header {
        width: 768px;
    }
    #me {
        width: 50%;
    }
    .otherdiv {
        width: 95%;
        margin: 5% 2% 5% 2%;
    }
    #portid {
        width: 95%;
        margin: 5% 2% 5% 2%;
    }
}
/* this is for mobile phones mainly */

@media screen and (max-width: 640px) {
    header {
        width: 99%;
        position: static;
        text-overflow: ellipsis;
    }
    h1 {
        width: 95%;
        position: relative;
        left: -65px;
        text-align: center
    }
    #me {
        width: 90%;
        margin: 5% 2% 5% 2%;
    }
    .otherdiv {
        width: 90%;
    }
    #portid {
        width: 90%;
        margin: 5% 2% 5% 2%;
    }
    .container {
        width: 65%;
    }
    #about {
        position: relative;
        bottom: 5px;
        left: -35%;
    }
    #portfolio {
        position: relative;
        bottom: 5px;
        left: -35%;
    }
    #contact {
        position: relative;
        bottom: 5px;
        left: -35%;
    }
}